<mat-toolbar color="primary" style="min-height: 50px !important; height: 50px !important;">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" *ngIf="hideSideDrawer">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="toolbar-heading">
      <a [routerLink]="'/home'" [routerLinkActive]="['active']" >Glenburn MIS</a>
    </h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #drawer [mode]="hideSideDrawer ? 'over' : 'side'" [opened] = "hideSideDrawer ? false : true ">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" [routerLinkActive]="['active']"> Daily Report </a>
      <a mat-list-item [routerLink]="'/cultdaily'" [routerLinkActive]="['active']"> Cultivation </a>
      <a mat-list-item [routerLink]="'/cultgroup'" [routerLinkActive]="['active']"> Cultivation Group </a>
      <a mat-list-item [routerLink]="'/pluckdaily'" [routerLinkActive]="['active']"> Plucking </a>
      <a mat-list-item [routerLink]="'/pluckgroup'" [routerLinkActive]="['active']"> Plucking Group </a>
      <a mat-list-item [routerLink]="'/mnddeploy'" [routerLinkActive]="['active']"> Mnd Deployment </a>
      <a mat-list-item [routerLink]="'/fuelreport'" [routerLinkActive]="['active']"> Fuel Report </a>
      <a mat-list-item [routerLink]="'/teastock'" [routerLinkActive]="['active']"> Tea Stock </a>
      <a mat-list-item [routerLink]="'/factory'" [routerLinkActive]="['active']"> Factory </a>
      <a mat-list-item [routerLink]="'/teamade'" [routerLinkActive]="['active']"> Tea Made </a>
      <a mat-list-item [routerLink]="'/fineleaf'" [routerLinkActive]="['active']"> Green Leaf </a>
      <a mat-list-item [routerLink]="'/gradeper'" [routerLinkActive]="['active']"> Grade Per </a>
      <a mat-list-item [routerLink]="'/invoicelist'" [routerLinkActive]="['active']"> Invoice List </a>
      <a mat-list-item [routerLink]="'/upload-csv'" [routerLinkActive]="['active']"> Upload File </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 33rem;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>